<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
        <title>
            Completed
        </title>
    </head>
    <body>
        <h1>Skills</h1>
        {% if skills | length == 0 %}
            <h2>No Skills found</h2>
        {% else %}
            <ul class="completed skillslist">
                {% for skill in skills %}
                <li class="skill">{{ skill }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </body>
</html>