<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700|Google+Sans:400,500,700,900|Google+Sans+Display:400,500" rel="stylesheet" nonce="">
        <title>
            Resume Parser
        </title>
    </head>
    <body>
        <div>
            <h1>Results</h1>
            <a href="{{ url_for('index') }}">Back to Upload</a>
        </div>
        

        <div class="container">
            {% if candidates | length == 0 %}
                <h2>No Skills found for the selected candidate(s)</h2>
            {% else %}
                {% for candidate in candidates %}
                    <div class="skills-box">
                        <p>Email ID : {{ candidate.email_id }}</p>
                        {% if candidate.skills | length == 0 %}
                            <h2>No Skills found</h2>
                        {% else %}
                            {% for skill in candidate.skills %}
                                <p class="skill">{{ skill }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </body>
</html>